body {
  background: tomato;
}

#menubar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: lightgreen;
}

#menubar li {
  display: inline;
}

.window {
  width: 350px;
  height: 400px;
  border: 1px solid black;
}

.window h3 {
  background: snow;
}
