/* General */

body {
  background: url("img/symphony.png");
}


/* Window */

.window {
  position: relative;
  top: 30px;
  left: 30px;
  width: 375px;
  height: 500px;
  border: 1px solid #DBDBDB;
  background: white;
}

.window h2 {
  font-size: 0.8em;
}

.topbar {
  background: #F0F0F0;
  position: relative;
  padding: 5px;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 5px;
  margin: 0;
}

.appDiv {
  margin: 0 auto;
  width: 90%;
}

.thumbnail {
  background: grey;
  padding: 2px;
  display: inline-block;
  border: 1px solid white;
}

.thumbnail img {

  display: block;
  margin: 2px auto;


}

/* Menubar */
#menubar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #F0F0F0;
  border-top: 1px solid #DBDBDB;
}

#menubar li {
  display: inline;
}
