/* General */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
  background: url("img/symphony.png");
  font-family: 'Ubuntu', sans-serif;
}


/* Window */

.window {
  position: relative;
  top: 30px;
  left: 30px;
  width: 375px;
  height: 500px;
  border: 1px solid #DBDBDB;
  background: white;
}

.window span {
  display: inline-block;
  font-size: 1.1em;
  margin-left: 43px;
  margin-top: 4px;

}

.topbar {
  background: #F0F0F0;
  position: relative;
  padding: 5px;
  height: 6%;
}

.windowIcon{
  position: absolute;
  top: 6px;
  left: 10px;
}


.close-button {
  position: absolute;
  top: 11px;
  right: 11px;
  margin: 0;
}

.appDiv {
  margin: 0 auto;
  width: 90%;
  height: 90%;
  overflow-y:auto;
}

.thumbnail {
  background: grey;
  padding: 2px;
  display: inline-block;
  border: 1px solid white;
}

.thumbnail img {

  display: block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.footer {
  height: 5%;
  background: #F0F0F0;
}



/* Menubar */
#menubar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #F0F0F0;
  border-top: 1px solid #DBDBDB;
}

#menubar li {
  display: inline;
}

#menubar ul {
  margin: 10px 0;
  padding-left: 20px;
}
